.nav {
    background-color: #003399;
}

.jumbotron {
    min-height: 300px;
    background-image: url("../img/Planning/planning-hero.png");
    text-align: center;
}

.nav-item {
    color: #FCF7F8;
}

.card {
    width: 15rem;
} 

.img {
    margin-top: 1em;
    height: 10em;
    width: 50rem;
}

