body {
    background-image: url("../img/login-background.jpeg");
}

.sidenav {
    height: 100%;
    background-color: #FCF7F8;
    overflow: hidden;
    padding-top: 15px;
}

.left-text {
    padding: 60px;
}

.left-text h2 {
    font-size: 2em;
    font-weight: 900;
    color: #17255A;
}

@media screen and (min-width: 500px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .left-text {
        margin-top: 45%;
        padding: 80px;
    }
    .login-form {
        margin-top: 80%;
    }
    .login {
        margin-top: 22%;
        margin-left: 45%;
    }
}