.nav {
    background-color: #003399;
}

.nav-link {
    color: #FCF7F8;
}

.card {
    width: 15rem;
} 

.img-fluid {
    margin-top: 1em;
    height: 10em;
    width: 50rem;
}

.baseline {
    font-size: x-large;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 15em;
}

#row-six {
    margin-top: 50px;
}

#example {
    margin-left: 381px;
}