* {
    font-family: Tahoma, Georgia, serif;
}

.nav {
    background-color: #003399;
}

.nav-link {
    color: #FCF7F8;
}

#row-five,
#row-six,
#row-seven {
    margin-top: 30px;
}

#example,
#example2 {
    margin-left: 380px;
}

.card {
    border: none;
    width: 15rem;
}

.card-img-top {
    cursor: pointer;
}

.img-fluid {
    margin-top: 1em;
    height: 10em;
    width: 50rem;
}

.baseline {
    font-size: x-large;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 15em;
}